In [324]:
from IPython.core.display import display, HTML, Javascript
display(HTML("<style>.container { width:95% !important; }</style>"))
import warnings
warnings.filterwarnings("ignore")

# <p style="text-align:center;"> <font color = blue>DATAFRAME - PANDAS MODULE</font> </p>

<img src="https://i0.wp.com/automatenow.io/wp-content/uploads/2024/04/intro_python_pandas.png?resize=712%2C600&ssl=1" width = 45% style="display: block; margin: 0 auto" >

***<p style="text-align:center;">PANDAS</p>***

<img src="https://i.imgur.com/cjVkGAN.png" width = 80%; style="display: block; margin: 0 auto">

<img src="https://i.imgur.com/2Gyjfex.png" width = 80%; style="display: block; margin: 0 auto">

# <font color = green>¿Para qué nos sirve?</font>
* Organizar y manipular grandes cantidades de información con diferentes fines.
* -DataFrame = "Tabla"

<img src="https://i.imgur.com/YvbafXf.png" width = 70%; style="display: block; margin: 0 auto">

## <font color = RED>COMANDOS DE INSTALACIÓN DE MÓDULOS</font>

* python -mpip install pandas

* python -mpip install matplotlib

* python -mpip install numpy

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<span style="color:blue"> ***¿Cómo crear un Dataframe?***</span>

In [ ]:
vacio = pd.DataFrame(data=None, index=None, columns= None, dtype=None)

In [115]:
vacio

     1    2
1  NaN  NaN
2  NaN  NaN

<span style="color:orange"> ***Juguemos un poco...***</span>

* <span style="color:grey"> Agregar los nombres de las columnas</span>

* <span style="color:grey"> Agregar los nombres de las filas</span>

* <span style="color:grey"> Agregar un índice</span>

* <span style="color:grey"> Agregar datos</span>

In [104]:
#modificar 
vacío = pd.DataFrame(data=None, index=None, columns= None, dtype=None)

In [106]:
#modificar 
vacío = pd.DataFrame(data=None, index=None, columns= [1,2], dtype=None)
vacío

Empty DataFrame
Columns: [1, 2]
Index: []

In [108]:
vacío = pd.DataFrame(data=None, index=[1,2], columns= None, dtype=None)
vacío

Empty DataFrame
Columns: []
Index: [1, 2]

In [110]:
vacío = pd.DataFrame(data=[1,2], index=None, columns= None, dtype=None)
vacío

   0
0  1
1  2

In [114]:
vacío = pd.DataFrame(data=None, index=[1,2], columns= [1,2], dtype=None)
vacío

     1    2
1  NaN  NaN
2  NaN  NaN

<span style="color:orange"> ***Usando listas y diccionarios***</span>

In [88]:
#definir un par de listas
s = ['a','b','c','d','e','f','g']
num = [1, 2, 3, 4, 5, 6, 7]

In [89]:
dic1 = {'s': s}

In [90]:
dic1

{'s': ['a', 'b', 'c', 'd', 'e', 'f', 'g']}

In [91]:
dic1

{'s': ['a', 'b', 'c', 'd', 'e', 'f', 'g']}

In [92]:
dic2 = {'num': num}

In [93]:
dic2

{'num': [1, 2, 3, 4, 5, 6, 7]}

In [94]:
dic3 = {'s': s, 'num': num} #objeto es la lista, es un diccionario de listas
dic3

{'s': ['a', 'b', 'c', 'd', 'e', 'f', 'g'], 'num': [1, 2, 3, 4, 5, 6, 7]}

In [95]:
df = pd.DataFrame(data = dic3)

In [96]:
df

   s  num
0  a    1
1  b    2
2  c    3
3  d    4
4  e    5
5  f    6
6  g    7

In [337]:
df.head(0)#Regresa los encabezados del DataFrame

Empty DataFrame
Columns: [s, num]
Index: []

In [338]:
df.head() # los primeros 5 valores

   s  num
0  a    1
1  b    2
2  c    3
3  d    4
4  e    5

In [270]:
df.head(1)#Regrsa la primera fila de Datos del DataFrame

   s  num
0  a    1

In [340]:
encabezados = df.columns.tolist() # Podemos tomar la lista de encabezados para formar una lista con ellos

In [341]:
encabezados

['s', 'num']

In [272]:
df.tail(1) #Regresa la última fila de Datos del DataFrame

   s  num
6  g    7

In [273]:
df.tail() #Regresa los últimos 5 valores

   s  num
2  c    3
3  d    4
4  e    5
5  f    6
6  g    7

<span style="color:orange"> ***Agregar índice***</span>

In [344]:
df['index'] = df.index + 1 #permite iniciar el índice a partir del 1
df

   s  num  index
0  a    1      1
1  b    2      2
2  c    3      3
3  d    4      4
4  e    5      5
5  f    6      6
6  g    7      7

In [345]:
df.insert(0, 'index', df.pop('index'))
#la funciones pop e insert permiten insertar una columna nueva y moverla a la posición en que se desea colocar

In [346]:
df

   index  s  num
0      1  a    1
1      2  b    2
2      3  c    3
3      4  d    4
4      5  e    5
5      6  f    6
6      7  g    7

In [347]:
del(df['index']) #La función del permite eliminar columnas 
df

   s  num
0  a    1
1  b    2
2  c    3
3  d    4
4  e    5
5  f    6
6  g    7

<span style="color:orange"> ***Eliminar columnas y filas***</span>

In [348]:
#existe otra función que permite eliminar columnas. "drop".
#para que la modificación se realice se debe guardar en una variable 
df = df.drop(columns = ['s'])
df

   num
0    1
1    2
2    3
3    4
4    5
5    6
6    7

In [349]:
df.insert(0, 's', s)

In [350]:
df

   s  num
0  a    1
1  b    2
2  c    3
3  d    4
4  e    5
5  f    6
6  g    7

In [354]:
df1 = df.drop(df.tail(1).index) #elimina el última fila de datos
df1

   s  num
0  a    1
1  b    2
2  c    3
3  d    4
4  e    5
5  f    6

In [355]:
df11 = df.drop(df.head(1).index) #elimina el última fila de datos
df11

   s  num
1  b    2
2  c    3
3  d    4
4  e    5
5  f    6
6  g    7

<span style="color:orange"> ***funciones "info y describe"***</span>

In [283]:
df.info() # Te permite conocer el tipo de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s       7 non-null      object
 1   num     7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [284]:
df.describe() #esta función da los estadísticos descriptivos de las columnas con valores numéricos

            num
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000

In [285]:
des = df.describe(include = 'all') #regresa los descriptivos de todas las columnas

In [286]:
des #NaN (Not a Number)

          s       num
count     7  7.000000
unique    7       NaN
top       g       NaN
freq      1       NaN
mean    NaN  4.000000
std     NaN  2.160247
min     NaN  1.000000
25%     NaN  2.500000
50%     NaN  4.000000
75%     NaN  5.500000
max     NaN  7.000000

In [287]:
des.isnull().values.any() # Saber si en el Dataframe existen NaN

True

In [288]:
des.isnull()

            s    num
count   False  False
unique  False   True
top     False   True
freq    False   True
mean     True  False
std      True  False
min      True  False
25%      True  False
50%      True  False
75%      True  False
max      True  False

In [289]:
des.isnull().any() #nos dice qué columnas tienen NaN

s      True
num    True
dtype: bool

In [290]:
des.isnull().sum() #cuenta el número de NaN

s      7
num    3
dtype: int64

In [291]:
des

          s       num
count     7  7.000000
unique    7       NaN
top       g       NaN
freq      1       NaN
mean    NaN  4.000000
std     NaN  2.160247
min     NaN  1.000000
25%     NaN  2.500000
50%     NaN  4.000000
75%     NaN  5.500000
max     NaN  7.000000

In [292]:
des2 = des.fillna(0) #nos permite cambiar NaN por ceros 
des2

        s       num
count   7  7.000000
unique  7  0.000000
top     g  0.000000
freq    1  0.000000
mean    0  4.000000
std     0  2.160247
min     0  1.000000
25%     0  2.500000
50%     0  4.000000
75%     0  5.500000
max     0  7.000000

In [356]:
val = {'s':'-','num':0}
des4 = des.fillna(value = val)
des4
#sustituir NaN por valores específicos

        s       num
count   7  7.000000
unique  7  0.000000
top     g  0.000000
freq    1  0.000000
mean    -  4.000000
std     -  2.160247
min     -  1.000000
25%     -  2.500000
50%     -  4.000000
75%     -  5.500000
max     -  7.000000

<span style="color:orange"> ***filtrar por patrones en filas***</span>

In [294]:
des5 = des4.filter(like='%', axis=0)
des5 #filtrar datos

     s  num
25%  -  2.5
50%  -  4.0
75%  -  5.5

<span style="color:orange"> ***filtrar por columnas***</span>

In [295]:
des6 = des5.filter(items=['num'])
des6

     num
25%  2.5
50%  4.0
75%  5.5

In [357]:
des5[['num']]

     num
25%  2.5
50%  4.0
75%  5.5

# Excel - Dataframe

In [234]:
calificaciones = pd.read_excel('C:/Users/mafer/OneDrive/Documentos/calificaciones_panda.xlsx',sheet_name = 'Hoja1' )

In [235]:
calificaciones

,Matricula,Nombre,Correo,Parcial 1,Parcial 2
0,2203052370,AGUILAR MARQUEZ GUILLERMO,aguilar137@gmail.com,8.50,10.000
1,2182017717,CASTILLO SERRANO ELIZABETH LOURDES,elizabeth551529@gmail.com,8.20,6.000
2,2192019858,DIAZ SANCHEZ JARED DAVID,jared4053.jd@gmail.com,7.70,5.920
3,2183062574,GARCIA LOPEZ CONNIE,connieg@gmail.com,7.60,6.250
4,2202018641,LOPEZ MARTINEZ YASIEL,yasiellopez97@gmail.com,6.60,8.300
5,2203052156,MARTINEZ OLIVO FATIMA,olivofatimjf@gmail.com,5.70,7.500
6,2212018984,PEREA PEREA MIGUEL,miguel.perea2296@gmail.com,7.97,7.100
7,2193062004,QUIROZ GUZMAN YESENIA,yezpink@gmail.com,6.40,8.230
8,2202018338,ROCHA DIAZ DIEGO,rochadz@gmail.com,8.50,6.300
9,2183061291,SORIANO GARCIA MARIANA,mariana_soriano19@hotmail.com,8.74,6.800
10,2212018715,VALENCIA ALANIS JONATAN,jon_valencia@outlook.com,8.30,7.750
11,2202019390,VAZQUEZ GOMEZ ALEJANDRO,av0846@gmail.com,8.50,8.280
12,2202019460,VAZQUEZ SORIANO ANGEL,angel_sor2@hotmail.com,7.20,7.500
13,2212020546,VELAZQUEZ PEREZ FERNANDO,fv09p@gmail.com,9.20,8.320
14,2212018966,VERA PADILLA DAVID ALEJANDRO,verapadivad9796@gmail.com,8.50,9.560
15,2183062681,BRUNO PEREZ IRIS OLIVIA,irisol96@gmail.com,6.80,8.225
16,2163079368,GARCIA OSORNIO BENJAMIN,ben53@gmail.com,7.10,6.600

In [135]:
calificaciones.to_excel("C:/Users/mafer/OneDrive/Documentos/calificaciones.xlsx")

In [236]:
#buscar información específica
calificaciones [calificaciones['Matricula']==2212018966]

,Matricula,Nombre,Correo,Parcial 1,Parcial 2
14,2212018966,VERA PADILLA DAVID ALEJANDRO,verapadivad9796@gmail.com,8.5,9.56

In [253]:
calificaciones [calificaciones['Nombre'] == 'GARCIA LOPEZ CONNIE ']

,Matricula,Nombre,Correo,Parcial 1,Parcial 2,Promedio
3,2183062574,GARCIA LOPEZ CONNIE,connieg@gmail.com,7.6,6.25,7

In [243]:
calificaciones [calificaciones.Correo =='connieg@gmail.com']

    Matricula                Nombre             Correo  Parcial 1  Parcial 2
3  2183062574  GARCIA LOPEZ CONNIE   connieg@gmail.com        7.6       6.25

In [244]:
calificaciones [calificaciones.Nombre.str.contains('LOPEZ')]

,Matricula,Nombre,Correo,Parcial 1,Parcial 2
3,2183062574,GARCIA LOPEZ CONNIE,connieg@gmail.com,7.6,6.25
4,2202018641,LOPEZ MARTINEZ YASIEL,yasiellopez97@gmail.com,6.6,8.30

# Condicionales

<img src="https://i.imgur.com/cglbPoP.png" width = 80%; style="display: block; margin: 0 auto">

<img src="https://i.imgur.com/C8Wzi4y.png" width = 80%; style="display: block; margin: 0 auto">

<img src="https://i.imgur.com/KPot85a.png" width = 80%; style="display: block; margin: 0 auto">

In [142]:
key = "contraseña"
password = input("Introduce la contraseña: ")
if key == password.lower():
    print("La contaseña coincide")
else:
    print("La contraseña no coincide")

Introduce la contraseña: no
La contraseña no coincide

<div class="table-of-contents" style="background-color:gold; padding: 20px; margin: 10px; font-size: 110%; border-radius: 25px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
  <h1 style="color:#000000;">Ejercicio</h1>

<h3 style="color:#000000;">En una determinada empresa, sus empleados son evaluados al final de cada año. Los puntos que pueden obtener en la evaluación comienzan en 0.0 y pueden ir aumentando, traduciéndose en mejores beneficios.La cantidad de dinero conseguida en cada nivel es de $ 2500.00  multiplicada por la puntuación del nivel.</h3>
<h3 style="color:#000000;">1.  Organiza en un DataFrame los niveles y la puntuación</h3>
<h3 style="color:#000000;"> 2. Escribir un programa que lea la puntuación del usuario e indique su nivel de rendimiento, así como la cantidad de dinero que recibirá el usuario"promedio"</h3>

In [148]:
Nivel = ['Inaceptable','Aceptable','Meritorio']
Puntuación = [0,0.4,0.6]
levels = {'Nivel': Nivel, 'Puntuación' : Puntuación}
df = pd.DataFrame(data = levels)
df

         Nivel  Puntuación
0  Inaceptable         0.0
1    Aceptable         0.4
2    Meritorio         0.6

In [ ]:
bonificacion = 2500
inaceptable = 0
aceptable = 0.4
meritorio = 0.6
puntos = float(input("Introduce tu puntuación: "))
# Clasifiación por niveles de rendimiento
if puntos == inaceptable:
    nivel = "Inaceptable"
elif puntos == aceptable:
    nivel = "Aceptable"
elif puntos >= 0.6:
    nivel = "Meritorio"
else:
    nivel = ""
# Mostrar nivel de rendimiento
if nivel == "":
    print("Esta puntuación no es válida")
else:
    print("Tu nivel de rendimiento es " + nivel)
    print("Te corresponde cobrar $" + str(puntos * bonificacion))


# <p style="text-align:center;"> <font color = blue>Bucles</font> </p>

<img src="https://i0.wp.com/holamundo.io/wp-content/uploads/2023/11/208_for.png?w=1212&ssl=1" width = 80% style="display: block; margin: 0 auto" >

***<p style="text-align:center;">PANDAS</p>***

In [139]:
l=['uno','dos','tres','cuatro']

In [140]:
for i in l:
    print(i)

uno
dos
tres
cuatro

In [156]:
for i in l:
    if i == 'uno':
        print('encontrado')

encontrado

In [157]:
for i in l:
    if i== 'un':
        print('encontrado')
    else:
        print('no encontrado')

no encontrado
no encontrado
no encontrado
no encontrado

# Bucles en dataframes

<div class="table-of-contents" style="background-color:gold; padding: 20px; margin: 10px; font-size: 110%; border-radius: 25px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
  <h1 style="color:#000000;">Ejercicio</h1>

<h3 style="color:#000000;">Contesta los que se pide a continuación:</h3>
<h3 style="color:#000000;">1. Calcula el promedio de cada alumno y anexalo en el df como una nueva columna, la cual tendra como encabezado "promedio"</h3>
<h3 style="color:#000000;">2. ¿Cuál fue el promedio más alto de la clase?</h3>
<h3 style="color:#000000;">3. ¿Cuál fue el promedio más bajo?</h3>
</div>

In [246]:
a = calificaciones ['Parcial 1'].tolist()
b = calificaciones ['Parcial 2'].tolist()

In [247]:
promedio=[]
for i, j in zip (a,b):
    promedio.append(round((i+j)/2))

In [248]:
calificaciones['Promedio'] = promedio

In [249]:
calificaciones

,Matricula,Nombre,Correo,Parcial 1,Parcial 2,Promedio
0,2203052370,AGUILAR MARQUEZ GUILLERMO,aguilar137@gmail.com,8.50,10.000,9
1,2182017717,CASTILLO SERRANO ELIZABETH LOURDES,elizabeth551529@gmail.com,8.20,6.000,7
2,2192019858,DIAZ SANCHEZ JARED DAVID,jared4053.jd@gmail.com,7.70,5.920,7
3,2183062574,GARCIA LOPEZ CONNIE,connieg@gmail.com,7.60,6.250,7
4,2202018641,LOPEZ MARTINEZ YASIEL,yasiellopez97@gmail.com,6.60,8.300,7
5,2203052156,MARTINEZ OLIVO FATIMA,olivofatimjf@gmail.com,5.70,7.500,7
6,2212018984,PEREA PEREA MIGUEL,miguel.perea2296@gmail.com,7.97,7.100,8
7,2193062004,QUIROZ GUZMAN YESENIA,yezpink@gmail.com,6.40,8.230,7
8,2202018338,ROCHA DIAZ DIEGO,rochadz@gmail.com,8.50,6.300,7
9,2183061291,SORIANO GARCIA MARIANA,mariana_soriano19@hotmail.com,8.74,6.800,8
10,2212018715,VALENCIA ALANIS JONATAN,jon_valencia@outlook.com,8.30,7.750,8
11,2202019390,VAZQUEZ GOMEZ ALEJANDRO,av0846@gmail.com,8.50,8.280,8
12,2202019460,VAZQUEZ SORIANO ANGEL,angel_sor2@hotmail.com,7.20,7.500,7
13,2212020546,VELAZQUEZ PEREZ FERNANDO,fv09p@gmail.com,9.20,8.320,9
14,2212018966,VERA PADILLA DAVID ALEJANDRO,verapadivad9796@gmail.com,8.50,9.560,9
15,2183062681,BRUNO PEREZ IRIS OLIVIA,irisol96@gmail.com,6.80,8.225,8
16,2163079368,GARCIA OSORNIO BENJAMIN,ben53@gmail.com,7.10,6.600,7

In [250]:
df = calificaciones [['Promedio']]
df.describe()

        Promedio
count  17.000000
mean    7.647059
std     0.785905
min     7.000000
25%     7.000000
50%     7.000000
75%     8.000000
max     9.000000

In [251]:
calif = calificaciones.sort_values('Nombre', ascending = False)
calif

,Matricula,Nombre,Correo,Parcial 1,Parcial 2,Promedio
14,2212018966,VERA PADILLA DAVID ALEJANDRO,verapadivad9796@gmail.com,8.50,9.560,9
13,2212020546,VELAZQUEZ PEREZ FERNANDO,fv09p@gmail.com,9.20,8.320,9
12,2202019460,VAZQUEZ SORIANO ANGEL,angel_sor2@hotmail.com,7.20,7.500,7
11,2202019390,VAZQUEZ GOMEZ ALEJANDRO,av0846@gmail.com,8.50,8.280,8
10,2212018715,VALENCIA ALANIS JONATAN,jon_valencia@outlook.com,8.30,7.750,8
9,2183061291,SORIANO GARCIA MARIANA,mariana_soriano19@hotmail.com,8.74,6.800,8
8,2202018338,ROCHA DIAZ DIEGO,rochadz@gmail.com,8.50,6.300,7
7,2193062004,QUIROZ GUZMAN YESENIA,yezpink@gmail.com,6.40,8.230,7
6,2212018984,PEREA PEREA MIGUEL,miguel.perea2296@gmail.com,7.97,7.100,8
5,2203052156,MARTINEZ OLIVO FATIMA,olivofatimjf@gmail.com,5.70,7.500,7
4,2202018641,LOPEZ MARTINEZ YASIEL,yasiellopez97@gmail.com,6.60,8.300,7
16,2163079368,GARCIA OSORNIO BENJAMIN,ben53@gmail.com,7.10,6.600,7
3,2183062574,GARCIA LOPEZ CONNIE,connieg@gmail.com,7.60,6.250,7
2,2192019858,DIAZ SANCHEZ JARED DAVID,jared4053.jd@gmail.com,7.70,5.920,7
1,2182017717,CASTILLO SERRANO ELIZABETH LOURDES,elizabeth551529@gmail.com,8.20,6.000,7
15,2183062681,BRUNO PEREZ IRIS OLIVIA,irisol96@gmail.com,6.80,8.225,8
0,2203052370,AGUILAR MARQUEZ GUILLERMO,aguilar137@gmail.com,8.50,10.000,9

# Funciones

# <p style="text-align:center;"> <font color = blue>Anatomía de una función</font> </p>

<img src="https://i0.wp.com/holamundo.io/wp-content/uploads/2023/02/funct4-1.png?w=1190&ssl=1" width = 50% style="display: block; margin: 0 auto" >

***<p style="text-align:center;">PANDAS</p>***

In [ ]:
def duplica(num):
    x = num * 2
    return x

In [168]:
def temC (gc):  
    f = (1.8 * gc)+32
    return f

<div class="table-of-contents" style="background-color:gold; padding: 20px; margin: 10px; font-size: 110%; border-radius: 25px; box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
  <h1 style="color:#000000;">Ejercicio</h1>

<h3 style="color:#000000;">-Crea una función que permita transformar de °F a °C </h3>